.button{
    border-radius: 10px;
}

.Candidates-cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/candidate-border.png);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: -100px -100px;
    margin: 15px;
    width: 225px;
    height: 270px;
    padding: 10px;
    justify-content: center;
    border: 1px solid #64A3D7;
    border-radius: 30px;
}

.bg-button_votes{
    position: absolute;
    opacity: 0;
    width: 225px;
    height: 270px;
    border-radius: 30px;
    background-color: #f4b241;
    transition: 0.5s;
    
}

.button_votes{
    opacity: 0;
    position: absolute;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
}

.Candidates-cell:hover .bg-button_votes{
    opacity: 0.8;
}

.Candidates-cell:hover .button_votes{
    opacity: 1;
}

.Candidates-cell h5{
    overflow: hidden;
    text-align: center;
    margin-top: 1.5rem;
    font-weight: bold;
    max-height: 2.4em;
    color: #64A3D7;
}

.Candidates-cell img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #000;
    border-radius: 50%;
}