<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type='text/css'>.element,html{scrollbar-width:none}html::-webkit-scrollbar,.element::-webkit-scrollbar{display:none}</style>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="min-vh-100 position-relative d-flex flex-column container-xxl">
        <div class="background-image w-100 h-100 position-absolute">
            <div class="bg-top-right position-absolute w-100 h-100"></div>
            <div class="bg-bot-left position-absolute w-100 h-100"></div>
        </div>
        <header class="bg-grey d-flex position-relative">    
            <div class="logo d-flex flex-end justify-content-end">
                <img src="{{url_for('static',filename='assets/bssc-logo.png')}}" alt="">
            </div>
            <text class="bold-text p-3 text-blue text-large">
                <a href="{{url_for('index.index')}}" class="text-blue link">Election Web 2021</a>
            </text>
            <div class="header-right position-absolute d-flex flex-row-reverse h-100">
                <div class="profile position-relative d-flex flex-column justify-content-start h-100">
                    <img src="{{url_for('static',filename='assets/' + session.get('imagepath'))}}" class="p-2" id="portrait" onclick="showModal()">
                    <div class="bg-purple logout position-relative text-white flex-column align-items-center" id="logout-modal">
                        <text class="py-2 bold-text">Hello, {{session.get("username").split()[0]}}</text>
                        <divider></divider>
                        <a href="{{url_for('user.profile')}}" class="d-flex flex-row p-3" id="profile-button">
                            <img src="{{url_for('static', filename='assets/portrait.png')}}" class="icon mr-3">
                            <text>Account Info</text>
                        </a>
                        <a href="{{url_for('user.logout')}}" class="bg-red px-2 py-1 rounded" id="logout-button">
                            <text class="bold-text">Log Out</text>
                        </a>
                    </div>
                </div>
                <text class="username bold-text h-100 p-3">
                    {{ session.get("username") }}
                </text>
                
            </div>
        </header>
        <div class="w-100 flex-grow-1" onclick="hideModal()">
            {% block content %}{% endblock %}
        </div>
        <footer class="py-2 w-100">
            <text>© IT DIVISION — BSSC 11<sup>th</sup> Presidency</text> 
        </footer>
    </div>    
    <script type="text/javascript" src="{{url_for('static', filename='js/base.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
    {% block script %}{% endblock %}
</body>
</html>