{% extends 'base.html'%}

{% block head %}
<title>Blueprint</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/blueprint.css')}}">
{% endblock %}

{% block content %}
<div class="blueprint">
    <p>Chairman Candidates of BSSC 12<sup>th</sup> Presidency</p>
    <div class="welcome-profile">
        <div class="profile-photo">
            <img src="{{url_for('static',filename='assets/profile_picture/' + candidate['imagepath'])}}" alt="">
        </div>
        <div class="profile-detail">
            Hi, my name is
            <br>
            <div class="profile-name">
                {{ candidate["name"] }}
            </div>    
        </div>
    </div>

    <div class="vision-mission">
        <div class="vision">
            <h4>VISION</h4>
            <div class="vision-detail">
                {{ candidate["vision"] }}
            </div>
        </div>
        <div class="mission">
            <h4>MISSION</h4>
            <div class="mission-detail">
                {{ candidate["mission"] }}
            </div>
        </div>
    </div>

    <div class="video">
        <h4>BLUEPRINT</h4>
        <br>
        <div class="video-detail">
            <iframe width="800" height="450" src="{{ candidate['video_link'] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <a href="{{ candidate['drive_link'] }}">
            <button class="blueprint-detail">
                Download Blueprint
            </button>
        </a>
    </div>

    <div class="question-for-chairman">
        <div class="question-title">
            <img src="{{url_for('static',filename='assets/mail.png')}}" alt="">
            <div>
                <h5>Any question for</h5>
                <h2>{{ candidate["name"] }}</h2>
            </div>
        </div>
        {% if not has_asked %}
        <form action="{{url_for('candidate.blueprint', candidate_id = candidate_id)}}" method="POST">
            <div class="row">
                <div class="col-25">
                    <label for="subject">Subject</label>
                </div>
                <div class="col-75">
                    <select id="subject" name="subject">
                        <option disabled selected hidden>--Choose your subject here--</option>>
                        <option value="Organizational">Organizational</option>
                        <option value="Structure">Structure</option>
                        <option value="Programs">Programs</option>
                        <option value="Other">Other</option>
                    </select>
                    <p id="error-subject">Please choose your subject!</p>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="question">Question</label>
                </div>
                <div class="col-75">
                    <textarea id="question" name="question" placeholder="Type your question here" style="height:200px"></textarea>
                    <p id="error-question">Please write down your question!</p>
                </div>
            </div>

            <div class="row-button">
                <input class="submit-btn" type="button" value="Submit" id="submitBtn" onclick="isValidate()">
            </div>
        </form>
        {% endif %}
    </div>

    <div id="modal" class="notification-container">
        <div class="notification">
            <h4>Your question has been</h4>
            <h4>submitted successfully.</h4>
            <button class="close-btn" id="closeBtn">Okay!</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static',filename='js/blueprint.js')}}"></script>
{% endblock %}