{% extends 'base.html'%}

{% block head %}
<title>EXMAN Sugesstion</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/Exman_suggestion.css')}}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column w-75 mx-auto ">
    <div class="text-purple h1 mt-5 font-weight-bold text-center">
        Personal Suggestion
    </div>
    <text class="text-red mb-5 ">Note : you can only suggest once</text>
    <form action="{{url_for('index.exman_suggestion')}}" method="POST">
        <!-- bisa dirapikan soalnya bentunya sama cuman beda 1, 2, 3-->
        <div class="d-flex mb-5">
            <div class="offset-1 col-1 text-light-green display-3 text-center font-weight-bold">
                <text>1</text>
            </div>
            <div class="col-10 d-flex flex-column py-1">
                <div class="mb-auto row text-purple mt-1">
                    <div class="col-2 font-weight-bold">
                        <text>Name</text>
                    </div>
                    <div class="col-10">
                        <input class="input_EXman w-100 pl-2" name="exman-name-1" id="exman-name-1" type="text" placeholder="Suggest a BSSC member">
                    </div>
                </div>
                <div class="row text-purple mb-1">
                    <div class="col-2 font-weight-bold">
                        <text>Role</text>
                    </div>
                    <div class="col-10">
                        <select class="input_EXman w-100 pl-2" name="exman-division-1" id="exman-division-1">
                            <option value="-" selected hidden>-- Choose a role that fits the candidate --</option>
                            <option value="IT Manager" >Manager of Informations and Technology Division</option>
                            <option value="CM Manager" >Manager of Creative Media Division</option>
                            <option value="Art Manager" >Manager of Art Division</option>
                            <option value="Social Manager" >Manager of Social Division</option>
                            <option value="Sport Manager" >Manager of Sport Division</option>
                            <option value="HRD Manager" >Manager of Human Resources and Development Division</option>
                            <option value="Culture Manager" >Manager of Culture Division</option>
                            <option value="PR Manager" >Manager of Manager of Public Relation Division</option>
                            <option value="Event and Marketing EXCOM" >Vice Chairman of Event and Marketing</option>
                            <option value="Legal and Human Resource EXCOM" >Vice Chairman of Legal and Human Resource</option>
                            <option value="Operation EXCOM" >Vice Chairman of Operation</option>
                            <option value="Finance EXCOM" >Vice Chairman of Finance</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mb-5">
            <div class="offset-1 col-1 text-light-green display-3 text-center font-weight-bold">
                <text>2</text>
            </div>
            <div class="col-10 d-flex flex-column py-1">
                <div class="mb-auto row text-purple mt-1">
                    <div class="col-2 font-weight-bold">
                        <text>Name</text>
                    </div>
                    <div class="col-10">
                        <input class="input_EXman w-100 pl-2" name="exman-name-2" id="exman-name-2" type="text" placeholder="Suggest a BSSC member">
                    </div>
                </div>
                <div class="row text-purple mb-1">
                    <div class="col-2 font-weight-bold">
                        <text>Role</text>
                    </div>
                    <div class="col-10">
                        <select class="input_EXman w-100 pl-2" name="exman-division-1" id="exman-division-1">
                            <option value="-" disabled selected hidden>-- Choose a role that fits the candidate --</option>
                            <option value="IT Manager" >Manager of Informations and Technology Division</option>
                            <option value="CM Manager" >Manager of Creative Media Division</option>
                            <option value="Art Manager" >Manager of Art Division</option>
                            <option value="Social Manager" >Manager of Social Division</option>
                            <option value="Sport Manager" >Manager of Sport Division</option>
                            <option value="HRD Manager" >Manager of Human Resources and Development Division</option>
                            <option value="Culture Manager" >Manager of Culture Division</option>
                            <option value="PR Manager" >Manager of Manager of Public Relation Division</option>
                            <option value="Event and Marketing EXCOM" >Vice Chairman of Event and Marketing</option>
                            <option value="Legal and Human Resource EXCOM" >Vice Chairman of Legal and Human Resource</option>
                            <option value="Operation EXCOM" >Vice Chairman of Operation</option>
                            <option value="Finance EXCOM" >Vice Chairman of Finance</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mb-5">
            <div class="offset-1 col-1 text-light-green display-3 text-center font-weight-bold">
                <text>3</text>
            </div>
            <div class="col-10 d-flex flex-column py-1">
                <div class="mb-auto row text-purple mt-1">
                    <div class="col-2 font-weight-bold">
                        <text>Name</text>
                    </div>
                    <div class="col-10">
                        <input class="input_EXman w-100 pl-2" name="exman-name-3" id="exman-name-3" type="text" placeholder="Suggest a BSSC member">
                    </div>
                </div>
                <div class="row text-purple mb-1">
                    <div class="col-2 font-weight-bold">
                        <text>Role</text>
                    </div>
                    <div class="col-10">
                        <select class="input_EXman w-100 pl-2" name="exman-division-1" id="exman-division-1">
                            <option value="-" disabled selected hidden>-- Choose a role that fits the candidate --</option>
                            <option value="IT Manager" >Manager of Informations and Technology Division</option>
                            <option value="CM Manager" >Manager of Creative Media Division</option>
                            <option value="Art Manager" >Manager of Art Division</option>
                            <option value="Social Manager" >Manager of Social Division</option>
                            <option value="Sport Manager" >Manager of Sport Division</option>
                            <option value="HRD Manager" >Manager of Human Resources and Development Division</option>
                            <option value="Culture Manager" >Manager of Culture Division</option>
                            <option value="PR Manager" >Manager of Manager of Public Relation Division</option>
                            <option value="Event and Marketing EXCOM" >Vice Chairman of Event and Marketing</option>
                            <option value="Legal and Human Resource EXCOM" >Vice Chairman of Legal and Human Resource</option>
                            <option value="Operation EXCOM" >Vice Chairman of Operation</option>
                            <option value="Finance EXCOM" >Vice Chairman of Finance</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mt-5">
            <button class="btn bg-dark-green text-grey mx-auto button w-25" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
