<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type='text/css'>.element,html{scrollbar-width:none}html::-webkit-scrollbar,.element::-webkit-scrollbar{display:none}</style>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
</head>
<body>
    <div class="min-vh-100 position-relative d-flex flex-column container-xxl">
        <div class="background-image w-100 h-100 position-absolute">
            <div class="bg-top-right position-absolute w-100 h-100"></div>
            <div class="bg-bot-left position-absolute w-100 h-100"></div>
        </div>
        <div class="w-100 flex-grow-1 d-flex align-items-center">
            <div class="row w-75 mx-auto ">
                <div class="offset-sm-1 col-sm-4">
                    <div class="d-flex justify-content-center h-100">
                        <img class="w-75" style="min-width: 226px;" src="{{url_for('static',filename='assets/bssc-logo.png')}}" alt="">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <div class="h1 text-blue text-center">
                            <text>Election Web 2021</text>
                        </div>
                        <div class="mb-2 mx-auto">
                            <form action="/login" method="POST" class="d-flex flex-column">
                                {% if errorMessage %}
                                <div class="mb-2" id="error">
                                    {{ errorMessage }}
                                </div>
                                {% endif %}
                                <input class="text-center input_login mb-2" name="NIM" id="NIM" type="text" placeholder="NIM" value="">
                                <input class="text-center input_login mb-2" name="password" id="password" type="password" placeholder="password" value="">
                                <button class="btn bg-blue text-grey w-50 mx-auto button" type="submit">Log In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="py-2 w-100">
            <text>© IT DIVISION — BSSC 11<sup>th</sup> Presidency</text> 
        </footer>
    </div>    
    <script src="{{url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}} "></script>
</body>
</html>