{% extends 'base.html'%}

{% block head %}
<title>Rules</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/rules.css')}}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column w-50 mx-auto my-4">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
            <div class="text-blue h3 my-4">
                Rules and Regulation
            </div>
        </div>
        <div class="d-flex text-blue py-3 mb-4">
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed optio quae nobis officia vitae maiores earum reiciendis, tempora ducimus quidem dolorem modi cupiditate, blanditiis, iusto minima voluptatem voluptas neque veritatis repellendus. Consequuntur rem tempore labore dolorem aut non, beatae neque eum dolorum incidunt, temporibus iure quidem magni, illum omnis!
        </div>
        <form action="{{url_for('index.rules')}}" class="d-flex flex-column align-items-center" method="POST" id="rules">
            <div class="d-flex flex-column">
                <div id="error">
                    Error !
                </div>
                <p><input class="align-items-center mr-2" name="agree_rules" id="agree_rules" type="checkbox">I understand all of the rules above</p>
            </div>
            <div class="d-flex my-2">
                <button class="btn button bg-dark-green text-grey px-5" type="submit" id="agree">Let's Go!</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/rules.js')}} "></script>
{% endblock %}