{% extends 'base.html'%}

{% block head %}
<title>Votes</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/Votes.css')}}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column w-75 mx-auto justify-content-center">
    <div class="row">
        <div class="col-12 text-center mt-5 py-3 font-weight-bold text-blue h4">
            Chairman Candidates of BSSC 12<sup>th</sup> Presidentcy
        </div>
    </div>
    <div class="row">
        <div class="d-flex mx-auto justify-content-center" id="merchandise1-event">
            <div class="Candidates-cell">
                <div>
                    <img src="{{url_for('static',filename='assets/tumbal.jpg')}}" alt="blood donation">
                    <h5>produk 1</h5>
                </div>
            </div>
            <div class="Candidates-cell">
                <div>
                    <img src="{{url_for('static',filename='assets/tumbal.jpg')}}" alt="blood donation">
                    <h5>produk 2</h5>
                </div>
            </div>
            <div class="Candidates-cell">
                <div>
                    <img src="{{url_for('static',filename='assets/tumbal.jpg')}}" alt="blood donation">
                    <h5>produk 3</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <button class="btn button bg-red text-grey px-4 py-1 font-weight-bold my-3" type="submit">VOTE NOW!</button>
    </div>
    <div class="d-flex justify-content-end align-items-end">
        <button class="btn button bg-light-green text-grey px-4 font-weight-bold mt-4 " type="submit">Suggest an EXMAN</button>
    </div>
</div>
{% endblock %}