{% extends 'base.html'%}

{% block head %}
<title>Votes</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/Votes.css')}}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column w-75 mx-auto justify-content-center">
    <div class="row">
        <div class="col-12 text-center mt-5 py-3 font-weight-bold text-blue h4">
            Chairman Candidates of BSSC 12<sup>th</sup> Presidency
        </div>
    </div>
    <div class="row">
        <div class="d-flex mx-auto justify-content-center" id="merchandise1-event">
            <!-- For i in candidate list, create candidate cell -->
            <div class="Candidates-cell">
                <div>
                    <img src="{{url_for('static',filename='assets/tumbal.jpg')}}">
                    <h5>Nama 1</h5>
                </div>
                <div class="details1">
                    <a href="#blueprint1"><p class="more-details">Click to view more details.</p></a>
                </div>
            </div>
            <div class="Candidates-cell">
                <div>
                    <img src="{{url_for('static',filename='assets/tumbal.jpg')}}">
                    <h5>Nama 2</h5>
                </div>
                <div class="details2">
                    <a href="#blueprint2"><p class="more-details">Click to view more details.</p></a>
                </div>
            </div>
            <div class="Candidates-cell">
                <div>
                    <img src="{{url_for('static',filename='assets/tumbal.jpg')}}">
                    <h5>Nama 3</h5>
                </div>
                <div class="details3">
                    <a href="#blueprint3"><p class="more-details">Click to view more details.</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <button class="btn bg-red text-grey px-4 py-1 font-weight-bold my-5" type="submit">
            {% if has_suggested and session.get("accepted_terms") %}
            <a href="{{url_for('index.vote')}}">VOTE NOW!</a>
            {% elif has_suggested %}
            <a href="{{url_for('index.rules')}}">VOTE NOW!</a>
            {% else %}
            <!-- Create popup here, "You need to suggest an EXMAN before voting." -->
            <div class="bg-popup">
                <div class="popup">
                    <div class="text">
                        You need to suggest an EXMAN before voting.
                    </div>
                    <div class="btn bg-dark-green text-grey px-5 py-1 mt-3 btn-okay" id="Okay">
                        Okay!
                    </div>
                </div>
            </div>
            VOTE NOW!
            {% endif %}
            
        </button>
    </div>
    <div class="suggest-exman mt-2">
        {% if not has_suggested %}
        <button type="button" class="btn btn-success">Suggest an EXMAN</button>
        {% endif%}
    </div>
</div>
{% endblock %}