{% extends 'base.html'%}

{% block head %}
<title>Votes</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/votes.css')}}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column w-75 mx-auto justify-content-center">
    <div class="row">
        <div class="col-12 text-center mt-5 py-3 font-weight-bold text-blue h4">
            Chairman Candidates of BSSC 12<sup>th</sup> Presidency
        </div>
    </div>
    <div class="row">
        <div class="d-flex mx-auto justify-content-center" id="merchandise1-event">
            <!-- For i in candidate list, create candidate cell -->
            {% for i in candidateList %}
            <div class="Candidates-cell">
                <img src="{{url_for('static',filename='assets/profile_picture/' + i['imagepath'])}}">
                <h5>{{ i["name"] }}</h5>
                <div class="details">
                    <a href="{{url_for('candidate.blueprint', candidate_id=i['id'])}}"><p class="more-details">Click to view more details.</p></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <button class="btn bg-red text-grey px-4 py-1 font-weight-bold my-5" type="submit">
            {% if session.get("accepted_terms") %}
            <a href="{{url_for('index.vote')}}">VOTE NOW!</a>
            {% else %}
            <a href="{{url_for('index.rules')}}">VOTE NOW!</a>
            {% endif %}
        </button>
    </div>
    <div class="suggest-exman mt-2">
        {% if not has_suggested %}
        <a href="{{url_for('index.exman_suggestion')}}" class="btn btn-success">Suggest a member</a>
        {% endif %}
    </div>
    <div class="bg-popup" id="popup">
        <div class="popup bg-red d-flex flex-column align-items-center">
            <text class="text-white bold-text text-large text-center">You need to suggest an EXMAN before voting.</text>
            <text class="btn bg-dark-green px-5 py-1 mt-3 btn-ok" id="okay">
                Okay!
            </text>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/votes.js')}} "></script>
{% endblock %}